.header {
  display: inline-block;
  font-weight: 800;
  float: left;
}
.product li {
  font-size: 1.3em;
}
.product button {
  margin-bottom: 20px;
}
.cart li {
  margin-bottom: 10px;
}
.remove.btn {
  padding: 5px;
  font-size: 12px;
  line-height: inherit;
  height: inherit;
  text-transform: inherit;
  margin-left: 10px;
}
.component {
  clear: both;
  border: dashed 1px #424242;
  padding: 10px;
}

.total {
  float: right;
  text-align: right;
  border: dashed 1px #424242;
  padding: 10px;
}
